table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  margin-top: 30px;
}

th,
td {
  border: 1px solid var(--border);
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

tr {
  min-width: 200px;
  padding: 10px;
}
.subVertical {
  display: flex;
  justify-content: space-around;
}
th {
  background-color: white;
}

/* styles for created by column */
td:nth-child(9) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.emailAddress {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;
  width: min(300px, 95%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}
/* styles for project column */
td:nth-child(10) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.noTickets {
  height: 100px;
}
/* styles for sub-vertical column */
td:nth-child(11) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trash {
  color: red;
}

.areYouSure {
  font-size: 1.3rem;
  color: black;
}
.yesNo {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.yesAndNo {
  padding: 10px 20px;
  background-color: var(--main_Color);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.DeleteContainer {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

i {
  cursor: pointer;
}

/* styles for created and date columns */
td:nth-child(4),
td:nth-child(5) {
  font-size: 16px;
}

/* styles for the table container */
.table-container {
  height: 400px;
  overflow: auto;
}
