.Other_Routes {
  background-color: rgb(231, 229, 229);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.routesNadNavbar {
  display: flex;
  flex-direction: row;
}

.app {
  background-color: red;
}
