* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg_Color: rgb(212, 209, 209);
  --font_Color: rgb(105, 103, 103);
  --box_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border: rgb(187, 182, 182);
  --main_Color: rgb(0, 110, 255);
}

body {
  color: var(--font_Color);
}
